<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>
</head>
<body>
    <h1>Sample Application</h1>
     <div ng-app="" ng-init="marks=[60,70,80,90,100]">
        <p>Enter First name <input type="text" ng-model="firstName"></p>
        <p>Enter Last name <input type="text" ng-model="lastName"></p>
        <p>Hello {{firstName}} {{lastName}}</p>
        <p>Book unit price <input type="text" ng-model="unitPrice"></p>
        <p>Book Quantity<input type="text" ng-model="quantity"></p>
        <p>Total: {{unitPrice*quantity}} BDT</p>
        <p>Marks: {{firstName==="Tonmoy"?marks[3]:marks[2]}}</p>
     </div>


    
</body>
</html>
